<!DOCTYPE html>
<html>


    <div class="container">
        <div class="navbar">
            <nav> <a href="index.html">
                <img class="icon" src="/src/icons/home.png"/>
            </a> <a href="about.html">About</a></nav>
        <head>
        </div>
            <link rel="stylesheet" href="style.css">
            <title>Cine-Swipe</title>
        </head>
        <body>
            <div class="image-container">
                <img src="/src/img/movieposter.jpg" class="image"/>
                <div class="button-container">
                    <button class="button-like">YES</button>
                    <button class="button-dislike">NO</button>
                </div>
            </div>
        </body>
    </div>
 
    
</html>