<!DOCTYPE html>
<html>
    <div class="container">
        <div class="navbar">
            <nav> <a href="/">
                <img class="icon" src="../static/icons/home.png"/>
            </a> <a href="about.html">About</a></nav>
        <head>
        </div>
            <link rel="stylesheet" href="../static/style.css">
            <title>Cine-Swipe</title>
        </head>
        <body>
            <div class="image-container" id="imageContainer">
                <div class="image-inner" id="imageInner">
                    
                </div>
            </div>
            <div class="button-container">
                <button class="button-dislike" onclick="getMovie(this)" id="dislike">NO</button>
                <button  class="button-like" onclick="getMovie(this)" id="like">YES</button>
                
            </div>
        </body>
    </div>
    
</html>

<script>
    var pastMovie = "";
async function getMovie(button){
    
    
    if (button != null) {
        //console.log(typeof pastMovie);
        const card = document.getElementById("image");
        const pastMovieJSON = JSON.parse(pastMovie);
        pastMovieJSON["vote"] = button.id;        
        const response = await fetch("api/vote", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(pastMovieJSON)
        });
        console.log("Sending" + JSON.stringify(pastMovieJSON));
        //const data = await response.json();
        //console.log(data.message);

        card.style.transition = "transform 0.4s ease, opacity 0.4s ease";
        card.style.transform = `translateX(${button.textContent == "YES" ? 1000 : -1000}px) rotate(${button.textContent == "NO" ? -45 : 45}deg)`;
        card.style.opacity = 0;
    

        setTimeout(() => {
            card.remove();
        }, 400);
        



    }

    const [_, response] = await Promise.all([
        new Promise(r => setTimeout(r, 400)),
        fetch("/api/get-next-movie")
    ]);
    const movie = await response.json();

    if(!("error" in movie)){
        const container = document.getElementById("imageContainer");
        container.innerHTML = "";

        //creates poster image
        const newCard = document.createElement("img");
        newCard.id = "image";
        newCard.className = "image";
        newCard.id = "image";
        newCard.src = movie["poster_path"];
        pastMovie = JSON.stringify(movie, null, 2);
        console.log("Storing Movie" + pastMovie);
        container.appendChild(newCard);

        //create back of image
        const newBackCard = document.createElement("")
    }
}

window.onload = getMovie(null);
</script>